/* You'll want to make the site responsive and nice looking here. Have fun!*/

html {
	background-color: #f8f8f8;
}

.list {
	list-style-type: circle;
	padding-left: 18px;
}

.header {
	background-color: #dadfe1;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	margin-bottom: 10px;
	border-bottom: 3px solid #bdc3c7;
	width: 100%;
}

.title {
	font-size: 30px;
	margin-bottom: 5px;
	padding-top: 10px;
}

#fluid {
	color: rgb(89, 89, 224);
}
.names {
	padding: 10px;	
	font-style: italic;
}

.section-titles {
	font-size: 24px;
	font-style: bold;
	padding-bottom: 10px;
	text-decoration: underline;
	text-decoration-color: #dadfe1;
}

.responsive-design {
	width: 40%;
	margin: 10px 25px ;
	padding: 20px 20px;
	float:left;
	border-radius: 10px;
	background-color: #E1E8F8;
}

.responsive-design:hover {
	background-color: #ECF0FA;
}


.fluid-layouts { 
	width: 40%;
	margin: 10px 25px ;
	padding: 20px 20px;
	float: right;
	border-radius: 10px;
	background-color: #E1E8F8;
}

.fluid-layouts:hover {
	background-color: #ECF0FA;
}

.your-conclusion { 
	width: 40%;
	margin: 10px 25px ;
	padding: 20px 20px;
	float:left;
	border-radius: 10px;
	background-color: #BFD1FA;
}

.your-conclusion:hover {
	background-color: #CCDBFD;
}

.reflection { 
	width: 40%;
	margin: 10px 25px ;
	padding: 20px 20px;
	float:right;
	border-radius: 10px;
	background-color: #8EAFFA;
}

.reflection:hover {
	background-color: #A2BEFC;
}

.references { 
	font-family: 'Raleway', sans-serif;
	background-color: #bdc3c7;
	width: 40%;
	margin: 10px 25px ;
	padding: 20px 20px;
	border-radius: 10px;
	font-size: 12px;
	float: left;
	border: 2px dashed #dadfe1;
}


.mediaadj {
	font-family: 'Raleway', sans-serif;
	border: 2px dashed #dadfe1;
}

/* Desktops and laptops ---------  */

@media only screen and (min-width : 1224px) {
 
.mediaadj {
	width:40%;
}



}
 
  
  /* iPads (portrait and landscape) ---------  */
@media only screen 
and (min-device-width : 913px) 
and (max-device-width : 1305px) {
.mediaadj {
	width:auto;
}



}

 /* Smartphones ---------  */ 

@media only screen 
and (max-width:912px) {
.mediaadj {
	width:auto;
}

}

@media only screen 
and (min-device-width : 421px)
and (max-device-width : 942px) {
.mediaadj {
	width:auto;
}

}



@media only screen 
and (max-width:420px) {
.mediaadj {
	width:auto;
}

.header {
	height: 60px;
}

.title {
	font-size: 20px;
	padding-top: 5px;

}

.description {
	display: none;
}

.names {
	padding: 5px;
}

}










